.nav-elements {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: sticky;
  top: 1.5rem;
  height: 55rem;
  padding: 1rem 0 0 1rem;
  button {
    height: 4rem;
    width: 2rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.2rem;
    cursor: pointer;
    &:hover {
      background-color: rgb(243, 243, 243);
    }
    &:hover + .exp {
      opacity: 1;
    }
  }
  .exp {
    background-color: rgba(0, 0, 0, 0.589);
    color: white;
    padding: 0.25rem;
    border-radius: 0.25rem;
    margin-left: 1rem;
    transition: all 0.3s;
    opacity: 0;
    transform: translate(1rem, 0);
  }
}

.code-block {
  transform: translateX(-0.29rem);
}
